RewriteEngine on
RewriteRule ^api.*$ /public_html/api.php [L]
RewriteRule ^(?!public_html)(?!api).*$ /public_html%{REQUEST_URI} [R]

RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule ^.*$ /public_html/ [NC,R]


<FilesMatch "\.(htaccess|htpasswd|ini|phps|log|sh)$">
  Order Deny,Allow
  Deny from all
</FilesMatch>